.root {
	-fx-background-color: linear-gradient(to bottom right, #ff0000 0%, #ffff00 70%);
	-fx-font-weight: bold;
	-fx-text-fill: black;  
}

.label {
	-fx-font-size: 25pt;
}

.button {
	-fx-font-size: 15pt;
	-fx-background-radius: 6;
}

